<!DOCTYPE html>
<html>
  <%- include('../includes/head') %>
  <body class="bg-gray-600 text-gray-50 min-h-screen flex flex-col">
    <%- include('../includes/header') %>

    <div class="grid grid-cols-1 lg:grid-cols-6 flex-1">
      <%- include('../includes/sidebar') %>

      <div class="flex flex-col col-span-5 lg:pr-16 px-4 lg:px-0">
        <section
          class="flex flex-col lg:flex-row items-center w-full justify-between pr-4 py-4 border-b border-b-gray-50"
        >
          <h3 class="text-lg font-medium">Greeting</h3>
          <ol class="flex flex-row items-center space-x-4">
            <li>
              <a href="/"><i class="fa fa-home mr-2"></i>Selector</a>
            </li>
            <i class="fa fa-angle-right"></i>
            <li><a href="<%=`/manage/${guild.id}/`%>"> <%=guild.name%> </a></li>
            <i class="fa fa-angle-right"></i>
            <li class="underline">Greeting</li>
          </ol>
        </section>

        <section class="grid grid-cols lg:grid-cols-2 gap-4 my-4">
          <!-- WELCOME CONFIGURATION -->
          <div class="flex flex-col rounded-lg border border-gray-50 h-[fit-content]">
            <div class="border-b border-b-gray-50 p-4">
              <h3 class="font-semibold">Welcome Embed</h3>
            </div>
            <form role="form" action="/manage/<%= guild.id %>/greeting" method="POST" class="flex flex-col p-4">
              <div class="flex flex-col">
                <label>Content:</label>
                <% if(guild.welcome.embed.description || guild.welcome.content) {%>
                <textarea rows="3" name="content" class="px-3 py-1 rounded-md bg-gray-50 text-gray-900">
<%- guild.welcome.content?.replaceAll(/\\n/g, '&#10;') %></textarea
                >
                <% } else { %>
                <textarea
                  rows="3"
                  name="content"
                  class="px-3 py-1 rounded-md bg-gray-50 text-gray-900"
                  placeholder="<%= 'Welcome to the server {member:name} 🎉' %>"
                ></textarea>
                <% } %>
              </div>
              <div class="flex flex-col mt-2">
                <label>Description:</label>
                <textarea rows="3" name="description" class="px-3 py-1 rounded-md bg-gray-50 text-gray-900">
<%- guild.welcome.embed.description?.replaceAll(/\\n/g, '&#10;') %></textarea
                >
              </div>
              <div class="flex flex-col mt-2">
                <label>Footer:</label>
                <input
                  type="text"
                  name="footer"
                  class="px-3 py-1 rounded-md bg-gray-50 text-gray-900"
                  value="<%= guild.welcome.embed.footer %>"
                />
              </div>
              <div class="flex flex-col mt-2">
                <label>Hex Color:</label>
                <input
                  type="text"
                  name="hexcolor"
                  class="px-3 py-1 rounded-md bg-gray-50 text-gray-900"
                  value="<%= guild.welcome.embed.color %>"
                />
              </div>
              <div class="flex flex-col mt-2">
                <label>Channel:</label>
                <select class="px-3 py-1 rounded-md bg-gray-50 text-gray-900" name="channel">
                  <% if(bot.channels.cache.has(guild.welcome.channel)){ %>
                  <option selected="selected">#<%= bot.channels.cache.get(guild.welcome.channel).name %></option>
                  <% guild.channels.cache.filter((ch)=> ch.id !== guild.welcome.channel && ch.type ===
                  "GUILD_TEXT").forEach((ch) => { %>
                  <option>#<%= ch.name %></option>
                  <% }); } else { %>
                  <option selected="selected">
                    #<%= guild.channels.cache.filter((ch)=> ch.type === "GUILD_TEXT").first().name %>
                  </option>
                  <% guild.channels.cache.filter((ch)=> ch.id !== guild.channels.cache.first().id && ch.type ===
                  "GUILD_TEXT").forEach((ch) => { %>
                  <option>#<%= ch.name %></option>
                  <% }); %> <% } %>
                </select>
              </div>
              <div class="flex flex-col mt-2">
                <div class="flex items-center">
                  <label>
                    <% if(guild.welcome.embed.thumbnail) { %>
                    <input type="checkbox" name="thumbnail" class="mr-1" checked />Thumbnail <% } else { %>
                    <input type="checkbox" name="thumbnail" class="mr-1" />Thumbnail <% } %>
                  </label>
                </div>
              </div>
              <div class="mt-4">
                <% if(guild.welcome.enabled){ %>
                <button
                  type="submit"
                  name="welcomeDisable"
                  class="px-3 py-1 rounded-md bg-cyan-700 transition-opacity duration-300 hover:opacity-70"
                >
                  Disable Messages
                </button>
                <button
                  type="submit"
                  name="welcomeUpdate"
                  class="px-3 py-1 rounded-md bg-cyan-700 transition-opacity duration-300 hover:opacity-70"
                >
                  Update
                </button>
                <% } else { %>
                <button
                  type="submit"
                  name="welcomeEnable"
                  class="px-3 py-1 rounded-md bg-cyan-700 transition-opacity duration-300 hover:opacity-70"
                >
                  Enable Message
                </button>
                <% } %>
              </div>
            </form>
          </div>

          <!-- FAREWELL CONFIGURATION -->
          <div class="flex flex-col rounded-lg border border-gray-50 h-[fit-content]">
            <div class="border-b border-b-gray-50 p-4">
              <h3 class="font-semibold">Farewell Configuration</h3>
            </div>
            <form role="form" action="/manage/<%= guild.id %>/greeting" method="POST" class="flex flex-col p-4">
              <div class="flex flex-col">
                <label>Content:</label>
                <% if(guild.farewell.embed.description || guild.farewell.content) {%>
                <textarea rows="3" name="content" class="px-3 py-1 rounded-md bg-gray-50 text-gray-900">
<%- guild.farewell.content?.replaceAll(/\\n/g, '&#10;') %></textarea
                >
                <% } else { %>
                <textarea
                  rows="3"
                  name="content"
                  class="px-3 py-1 rounded-md bg-gray-50 text-gray-900"
                  placeholder="<%= '{member:tag} has left the server 👋' %>"
                ></textarea>
                <% } %>
              </div>
              <div class="flex flex-col mt-2">
                <label>Description:</label>
                <textarea rows="3" name="message" class="px-3 py-1 rounded-md bg-gray-50 text-gray-900">
<%- guild.farewell.embed.description?.replaceAll(/\\n/g, '&#10;') %></textarea
                >
              </div>
              <div class="flex flex-col mt-2">
                <label>Footer:</label>
                <input
                  type="text"
                  name="footer"
                  class="px-3 py-1 rounded-md bg-gray-50 text-gray-900"
                  value="<%= guild.farewell.embed.footer %>"
                />
              </div>
              <div class="flex flex-col mt-2">
                <label>Hex Color:</label>
                <input
                  type="text"
                  name="hexcolor"
                  class="px-3 py-1 rounded-md bg-gray-50 text-gray-900"
                  value="<%= guild.farewell.embed.color %>"
                />
              </div>
              <div class="flex flex-col mt-2">
                <label>Channel:</label>
                <select class="px-3 py-1 rounded-md bg-gray-50 text-gray-900" name="channel">
                  <% if(bot.channels.cache.has(guild.farewell.channel)){ %>
                  <option selected="selected">#<%= bot.channels.cache.get(guild.farewell.channel).name %></option>
                  <% guild.channels.cache.filter((ch)=> ch.id !== guild.farewell.channel && ch.type ===
                  "GUILD_TEXT").forEach((ch) => { %>
                  <option>#<%= ch.name %></option>
                  <% }); } else { %>
                  <option selected="selected">
                    #<%= guild.channels.cache.filter((ch)=> ch.type === "GUILD_TEXT").first().name %>
                  </option>
                  <% guild.channels.cache.filter((ch)=> ch.id !== guild.channels.cache.first().id && ch.type ===
                  "GUILD_TEXT").forEach((ch) => { %>
                  <option>#<%= ch.name %></option>
                  <% }); %> <% } %>
                </select>
              </div>
              <div class="flex flex-col mt-2">
                <div class="flex items-center">
                  <label>
                    <% if(guild.farewell.embed.thumbnail) { %>
                    <input type="checkbox" name="thumbnail" class="mr-1" checked />Thumbnail <% } else { %>
                    <input type="checkbox" name="thumbnail" class="mr-1" />Thumbnail <% } %>
                  </label>
                </div>
              </div>
              <div class="mt-4">
                <% if(guild.farewell.enabled){ %>
                <button
                  type="submit"
                  name="farewellDisable"
                  class="px-3 py-1 rounded-md bg-cyan-700 transition-opacity duration-300 hover:opacity-70"
                >
                  Disable Messages
                </button>
                <button
                  type="submit"
                  name="farewellUpdate"
                  class="px-3 py-1 rounded-md bg-cyan-700 transition-opacity duration-300 hover:opacity-70"
                >
                  Update
                </button>
                <% } else { %>
                <button
                  type="submit"
                  name="farewellEnable"
                  class="px-3 py-1 rounded-md bg-cyan-700 transition-opacity duration-300 hover:opacity-70"
                >
                  Enable Message
                </button>
                <% } %>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
    <%- include('../includes/footer') %>
  </body>
</html>
