<aside>
  <section class="flex flex-col p-4">
    <div class="flex flex-row items-center border-b border-b-gray-50 pb-4">
        <img src="<%= user.displayAvatar %>" width="64" height="64" class="rounded-full" alt="User Image">
      <div class="info ml-2">
        <p>
          <%= user.username %>#<%= user.discriminator %>
        </p>
        <a href="#">
          <%= user.displayedGuilds.length %> servers
        </a>
      </div>
    </div>

    <ul class="flex flex-col mt-4">
      <li><a href="/selector"><i class="fa fa-home"></i> <span>Home</span></a></li>
      
        <li class="font-semibold text-lg mt-4">CONFIGURATION</li>
        <li class="mt-2">
        <li class="ml-2"><a href="/manage/<%= guild.id %>/basic"><i class="fas fa-cogs mr-1"></i> <span>Management</span></a></li>
        <li class="ml-2"><a href="/manage/<%= guild.id %>/greeting"><i class="fa fa-bullhorn mr-1"></i> <span>Greeting</span></a></li>
        <li class="ml-2"><a href="/manage/<%= guild.id %>/commands"><i class="fa fa-robot mr-1"></i> <span>Commands</span></a></li>
        <li class="ml-2"><a href="/manage/<%= guild.id %>/ticketpanels"><i class="fas fa-ticket-alt mr-1"></i> <span>Ticket panels</span></a></li>
        </li>
      </ul>
    </ul>

    
  </section>
</aside>