<!DOCTYPE html>
<html>
  <%- include('includes/head') %>

  <body class="bg-gray-600 text-gray-50 min-h-screen">
    <%- include('includes/header') %> <% if(user.displayedGuilds){ %>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 p-8 justify-items-center">
      <% user.displayedGuilds.forEach(function(guild) { %>
      <div class="flex flex-col items-center justify-center rounded-2xl w-[20rem] md:w-[26rem] shadow shadow-cyan-700">
        <div class="flex items-center justify-center relative overflow-hidden rounded-2xl shadow shadow-cyan-700">
          <div
            class="
              flex
              items-center
              justify-center
              h-[11.25rem]
              w-[20rem]
              md:w-[26rem]
              bg-center bg-cover bg-no-repeat
              blur-md
              relative
              border border-black
            "
            style="background-image: url('<%= guild.iconURL %>')"
          ></div>
          <img src="<%= guild.iconURL %>" class="rounded-full absolute" width="100" height="100" />
        </div>

        <div class="flex justify-center items-center w-[20rem] md:w-[26rem] p-4">
          <div class="flex-1">
            <h3 class="text-lg font-semibold"><%= guild.name %></h3>
          </div>

          <div>
            <% if(guild.settingsUrl.includes('discordapp.com')) { %>
            <a href="<%= guild.settingsUrl %>"
              ><button class="px-3 py-1 rounded-md bg-cyan-700 transition-opacity duration-300 hover:opacity-70">
                Invite
              </button></a
            >
            <% } else { %>
            <a href="<%= guild.settingsUrl %>"
              ><button class="px-3 py-1 rounded-md bg-cyan-700 transition-opacity duration-300 hover:opacity-70">
                Manage
              </button></a
            >
            <% } %>
          </div>
        </div>
      </div>
      <% }); } else { %>
      <div class="flex items-center justify-center w-full p-8">
        <h2 class="text-xl font-bold mx-auto">
          No server to display. Make sure you are logged in with the right account and try again.
        </h2>
      </div>
      <% } %>
    </div>

    <%- include('includes/footer') %>
  </body>
</html>
